.main-container {
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
  max-width: 1000px;
  padding: 120px 8% 12%;
}

h1 {
  margin: 20px 0 30px;
  font-size: 1.8rem;
  color: #1b3688;
}

h2 {
  margin: 40px 0 14px;
}

p {
  margin-bottom: 24px;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

ul,
ol {
  padding: 0 0 0 36px;
  margin: 35px 0;
}

.container-img {
  width: 85%;
  margin: 0 auto;
}

.container-img img {
  width: 100%;
  margin: 12px 0 24px;
}

ul img,
ol img {
  width: 85%;
  margin: 12px 12px 22px;
}

li {
  margin: 18px 0;
  color: #1b3688;
  font-weight: 600;
  font-size: 1.2rem;
}

a {
  color: #ce812a;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}

a:hover {
  color: #1b3688;
}

@media (max-width: 1200px) {
  p {
    font-size: 1rem;
  }
}

@media (max-width: 780px) {
  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  li {
    font-size: 1rem;
  }

  p {
    font-size: .95rem;
  }
}
