@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700;800;900&display=swap");

.header {
  background-color: #ef9632;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 1;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.menu-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 2rem;
}

.logo {
  width: 50px;
}

@media (max-width: 1200px){
    .menu {
        font-size: 1.7rem;
    }

    .logo {
      width: 40px;
    }
}